@import "tailwindcss";

@theme {
  --color-darkBg: #050816;
  --color-neonPink: #ff4ecd;
  --color-neonCyan: #00f5ff;
  --color-neonYellow: #f9f871;
  --color-neonBlue: #5ec8ff;

  --shadow-neon: 0 0 15px rgba(0,245,255,0.6);
}

body {
  @apply bg-darkBg text-slate-100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
